<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>

    <link rel="stylesheet" href="../../main/css/tableStyle.css">
</head>
<body>
<table width="100%" border="1" cellpadding="4" cellspacing="0" style="margin-bottom: 10px">
    <caption style="margin-bottom: 5px"><b>Таблица клиентов</b></caption>
    <thead>
    <tr>
        <th> Удалить </th>
        <th> id </th>
        <th> id_user </th>
        <th> Имя </th>
        <th> Фамилия </th>
        <th> Отчество </th>
        <th> Серия паспорта </th>
        <th> № паспорта </th>
        <th> № лицензии </th>
        <th> Опыт вождения </th>
        <th> Email </th>
        <th> Телефон </th>
        <th> Адрес </th>
    </tr>
    </thead>
    <tbody th:each="elem : ${client}" align="center">


    <td align="center">
        <form th:action="'/user/client/' + ${elem.id_user_id} + '/remove'" method="post">
            <button style="vertical-align: middle; width: 20px; height: 20px;" type="submit">☓</button>
        </form>
    </td>

    <td th:text="${elem.id}"></td>
    <!--<td th:text="${elem.id_user_id}"></td>-->
    <td><a th:href="'/user'" th:text="${elem.id_user_id}"></a></td>
    <td th:text="${elem.first_name}"></td>
    <td th:text="${elem.second_name}"></td>
    <td th:text="${elem.patronymic}"></td>
    <td th:text="${elem.series}"></td>
    <td th:text="${elem.pass_number}"></td>
    <td th:text="${elem.driver_license}"></td>
    <td th:text="${elem.experience}"></td>
    <td th:text="${elem.email}"></td>
    <td th:text="${elem.phone}"></td>
    <td th:text="${elem.address}"></td>

    </tbody>
</table>

<div align="center" style="margin-top: 20px">
    <button class="button" onclick="location.href='/'" value="Назад">На Главную</button>
    <button class="button" onclick="location.href='../../catalog'" value="Назад">В Каталог</button>
    <button class="button" onclick="location.href='/user/add'" value="Назад">Добавить сотрудника</button>
    <button class="button" onclick="location.href='/user'" value="Назад">Юзеры</button>
    <button class="button" onclick="location.href='../../auto'" value="Назад">Авто</button>
    <button class="button" onclick="history.back();" value="Назад">Назад</button>
</div>
</body>
</html>